@import '~constants'

*
  -webkit-tap-highlight-color transparent
  box-sizing border-box

html
  height 100%
  font-size 10px

body
  color $black
  height 100%
  background-color #f2f4f6
  font-family $font
  font-size 1.4rem
  display flex
  margin 0
  flex-direction column
  -webkit-font-smoothing antialiased
  text-size-adjust 100%
